<div class="descripcion Anime">
  <div class="imagen">
    <img [src]="producto.img" alt="" />
  </div> 
  <div class="informacion">
    <h1>{{producto.product}}</h1>   
    <p>SKU: {{producto.id}}</p>
    <p>Price: ${{producto.price}}</p>
    <p>Size:</p>
    <div class="col-4">
      <select id="Size">
        <option value="">Seleccionar</option>
        <option value="1">CH</option>
        <option value="2">M</option>
        <option value="3">G</option>
      </select>
    </div>
    <p>Quantity</p>
    <div class="col-4">
      <input type="number" />
    </div>
    <button class="btn btn-block button">Add to cart</button>
    <p class="mt-3"><strong>Producto Info</strong></p>
      <p class="producto">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui necessitatibus
        autem eligendi, accusantium iure fugiat. Culpa error illo in sed, accusamus
        eligendi! Quam nesciunt voluptatem repellat ratione rem vero nihil!
      </p>
  </div>
</div>


