<div class="fondoverde">
    <div class="row">
            <div class="consejos">
                <p>{{Consejos}}</p>
            </div>
            <div class="iconos">
                <ul>
                    <li><i class="fa fa-facebook" aria-hidden="true"></i> </li>
                    <li><i class="fa fa-instagram" aria-hidden="true"></i> </li>
                    <li><i class="fa fa-pinterest" aria-hidden="true"></i> </li>
                </ul>
            </div>
            <div class="menu">
                <ul>
                    <li>{{NavBarFooter}}</li>
                </ul>
            </div>
    </div>
</div>

<div class="fondorojo">
    <div class="row">
        <div class="col-12">
            <p>&copy;{{Anio}} {{Desarrollo}}</p>
        </div>
    </div>
</div>

