<div class="animacion">
    <p>OH MY GOD!! THE SHOP IS UPCOMING TO OPEN</p>
    <!-- <span>COMING SOON</span> -->
</div>

<div class="cuadroverde">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center pt-4">CLOTHES STUDIO</h3>
        </div>
    </div>
    <div class="row iconos">
        <div class="col-4">
            <ul>
                <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
                <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
                <li><i class="fa fa-pinterest" aria-hidden="true"></i></li>
            </ul>
        </div>
            <div class="col-4">
                <div class="menu">
                    <ul>
                        <li>{{Menu}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-4">
                <ul>
                    <li> <i class="fi-creative-user-3 mr-2"></i> LOG IN</li>
                    <li> <i class="fi-creative-user-3 mr-2"></i> CART</li>
                </ul>
            </div>
    </div>


           