<div class="about Anime">
  <div class="row">
    <div class="col-12">
      <h1>About Us</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="imagen">
        <img src="./../../../../assets/img/Ropa.jpg" alt="" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="separador">
        <h3 >Desing Clothes.</h3>
        <div id="linea"></div>
        <div class="parrafo1">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
            molestiae corporis voluptates quae natus aliquam quaerat perferendis
            similique, aut eum quis asperiores iusto omnis odit rem dolorem
            tempora facilis vitae. Eligendi tenetur adipisci laudantium et
            ratione voluptates repellendus inventore perferendis iusto, ullam in
            architecto voluptatem cumque doloribus, distinctio odit dolorem
            autem deleniti earum, asperiores sit error libero exercitationem?
            Ullam saepe repellat aperiam cumque ex molestiae sit quos laborum
            tenetur neque pariatur, sapiente, ipsam, natus recusandae. 
          </p>
        </div>
        <div class="parrafo2">
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam
            magnam, dolor hic aperiam earum vitae fugiat maiores blanditiis
            velit doloribus. Eveniet veniam suscipit libero, dicta et fugiat
            omnis sapiente expedita molestias est quas asperiores neque vel. Eos
            quis consectetur voluptatem nam suscipit veritatis at accusantium,
            exercitationem laborum, qui eius vero ipsa ad blanditiis id
            explicabo aliquid voluptate dolor obcaecati sed dicta facere odit
            corporis impedit! Repudiandae assumenda aut veritatis velit eveniet
            dignissimos, deserunt hic? 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
