<div class="about Anime">
  <div class="row">
    <div class="col-12">
      <h1>{{Aboutus}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="imagen">
        <img src="./../../../../assets/img/Ropa.jpg" alt="" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="separador">
        <h3>DesingClothes</h3>
        <div id="linea"></div>
        <div class="parrafo1">
          <p>
            {{Parrafo1}}
          </p>
        </div>
        <div class="parrafo2">
          <p>
            {{Parrafo2}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
