<div class="tarjetas Anime">
  <div class="fondo">
    <h1>{{ Tienda }}</h1>
    <hr id="linea">
    <p>{{ Texto }}</p>
    <button type="submit" class="btn btn-block botonrojo">
      Find your Clothes
    </button>
    <div class="tarjeta">
      <div class="row">
        <div class="col-4">
          <img src="./../../../../assets/img/id2.JPG" alt="" />
          <p class="Texto">{{ ForHim }}</p>
          <hr class="linea2"/>
          <button
            (click)="goColection(man.value)"
            #man
            value="0"
            class="btn btn-block botones"
          >
            {{ Seleccionar }}
          </button>
        </div>
        <div class="col-4">
          <img src="./../../../../assets/img/Ropa.jpg" alt="" />
          <p class="Texto">{{ AllCards }}</p>
          <hr class="linea2"/>
          <button type="submit" class="btn btn-block botones">
            {{ Seleccionar }}
          </button>
        </div>
        <div class="col-4">
          <img src="./../../../../assets/img/id12.JPG" alt="" />
          <p class="Texto">{{ ForHer }}</p>
          <hr class="linea2"/>
          <button
            #her
            value="1"
            (click)="goColection(her.value)"
            class="btn btn-block botones"
          >
            {{ Seleccionar }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cuadrorojo">
  <div class="row">
    <div class="border">
      <h2>{{ Advise }}</h2>
      <div id="lineavertical"></div>
      <div class="col-4 ofertas">
        <p>Buy it now and <strong>get 10% off</strong></p>
        <p>Use promo code <strong>Shop10</strong></p>
        <button class="button btn btn-block">Shop Now</button>
      </div>
    </div>
  </div>
</div>

<div class="contact">
  <div class="row">
    <div class="col-12">
      <h3 class="text-center">{{ Titulo }}</h3>
    </div>
  </div>
  <div class="formulario">
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <input
            type="text"
            placeholder="Name"
            class="form-control inputs"
            required
          />
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <input
            type="text"
            placeholder="Email"
            class="form-control inputs"
            required
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <input
            type="text"
            placeholder="Subject"
            class="form-control inputs"
            required
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <textarea
            type="text"
            placeholder="Message"
            rows="4"
            class="form-control inputs"
          ></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <button class="btn btn-block boton">Submit</button>
        </div>
      </div>
    </div>
  </div>
  <div class="informacion">
    <div class="row">
      <div class="col-12">
        <h3 class="text-center">{{ Contactus }}</h3>
        <hr />
        <ul class="phones">
          <li>{{ Telefono }}</li>
          <li></li>
          <li>{{ Email }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
