<div class="tarjetas">
  <div class="fondo">
    <h1>SHOP STORE</h1>
    <div id="linea"></div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minime</p>
      <button type="submit" class="btn btn-block boton">Find your Clothes</button>
      <div class="tarjeta">
          <div class="row">
              <div class="col-4">
                  <img src="./../../../../assets/img/id2.JPG" alt="">
                  <p class="Texto">For Him</p>
                  <hr>
                  <button type="submit" class="btn btn-block botones">Shop Collection</button>
              </div>
              <div class="col-4">
                <img src="./../../../../assets/img/id20.JPG" alt="">
                <p class="Texto">All Cards</p>
                 <hr>
                  <button type="submit" class="btn btn-block botones">Shop Collection</button>
            </div>
            <div class="col-4">
                <img src="./../../../../assets/img/id7.JPG" alt="">
                <p class="Texto">For Her</p>
                  <hr>
                  <button type="submit" class="btn btn-block botones">Shop Collection</button>
            </div>
          </div>
      </div>
  </div>
</div>

<div class="cuadrorojo">
    <div class="row">
        <div class="col-4">
            <div class="border">
                <h2>You should hurry shop</h2>
            </div>
            <div class="lineavertical"></div>
            <div class="col-4">
                <p>Buy it now and get 10% off</p>
            </div>
            <div class="col-4">
                <p>Use promo code <span>Shop10</span></p>
            </div>
        </div>

    </div>
</div>