<div class="descripcion Anime">
  <div class="imagen">
    <img [src]="producto.img" alt="" />
  </div> 
  <div class="informacion">
    <h1>{{producto.product}}</h1>   
    <p>SKU: {{producto.id}}</p>
    <p>Price: ${{producto.price}}</p>
    <p>Size:</p>
    <div class="col-4">
      <select id="Size">
        <option value="">Seleccionar</option>
        <option value="1">CH</option>
        <option value="2">M</option>
        <option value="3">G</option>
      </select>
    </div>
    <p>Quantity</p>
    <div class="col-4">
      <input type="number" />
    </div>
    <button class="btn btn-block"></button>
    <!-- <div class="producto"> -->
      <p><strong>Producto Info</strong></p>
      <!-- <i class="fa fa-plus" aria-hidden="true"></i>
      <i class="fa fa-minus" aria-hidden="true"></i> -->
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui necessitatibus
        autem eligendi, accusantium iure fugiat. Culpa error illo in sed, accusamus
        eligendi! Quam nesciunt voluptatem repellat ratione rem vero nihil!
      </p>
      <!-- <p><strong>Return and Refund Policy</strong></p>
      <i class="fa fa-plus" aria-hidden="true"></i>
      <i class="fa fa-minus" aria-hidden="true"></i>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit magnam
        eius doloribus libero repudiandae, assumenda est veniam dicta culpa.
        Recusandae corporis amet asperiores. Praesentium nulla modi quo, earum
        voluptatem dicta?
      </p>
      <p><strong>Shipping Info</strong></p>
      <i class="fa fa-plus" aria-hidden="true"></i>
      <i class="fa fa-minus" aria-hidden="true"></i>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium soluta
        ex rerum laborum illum suscipit fuga dolores cumque earum cupiditate, eum
        quo sapiente! Incidunt fuga vel esse, officiis enim dignissimos.
      </p>
    </div> -->
  </div>
</div>
