.descripcion{
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -3;
}

.informacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 60%;
    height: 10%;
    margin-left: -30%;
    margin-top: 10%;
}

.imagen{
    margin-left: 10%;
}

.imagen img{
    width: 40%;
    height: 40%;
}

h1{
    font-size: 30px;
    color:#E02D1F;
    font-family: "Lobster";
    margin-top: -10%;
}

p{
    font-size: 15px;
    color:#E02D1F;
    width: 50%;
}

.producto{
    color: #E02D1F;
    cursor: pointer;
}
