<div class="fixed">
  <div class="animacion">
    <p>OH MY GOD!! THE SHOP IS UPCOMING TO OPEN</p>
    <p>COMING SOON!!!</p>
  </div>

  <div class="cuadroverde">
    <div class="row">
      <div class="col-12">
        <h3 class="text-center pt-4">CLOTHES STUDIO</h3>
      </div>
    </div>
    <div class="menus">
      <div class="row iconos">
        <ul>
          <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
          <li><i class="fa fa-instagram ml-5" aria-hidden="true"></i></li>
          <li><i class="fa fa-pinterest ml-5" aria-hidden="true"></i></li>
        </ul>
      </div>
      <div class="menu">
        <ul>
          <li routerLink="tarjetas" class="pl-5">Home</li>
          <li routerLink="shopall" class="pl-5">Shop All</li>
          <li routerLink="productos-hombre" class="pl-5">For Him</li>
          <li routerLink="productos-mujer" class="pl-5">For Her</li>
          <li routerLink="aboutus" class="pl-5">About us</li>
          <li routerLink="contacto">Contact</li>
        </ul>
      </div>
      <div class="login">
        <ul>
          <li class="ml-5">
            <i class="fa fa-user-circle" aria-hidden="true"></i>Log In
          </li>
          <li class="ml-5">
           Cart  <i class="fa fa-book" aria-hidden="true"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
