.fondorojo{
    width: 100%;
    height: 7vh;
    background: #E02D1F;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.fondoverde{
    background:#EEFFF7;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.consejos{
    width: 25%;
    color: #E02D1F;
    font-weight: bold;
}

.iconos2{
    width: 6%;
}

.iconos2 ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconos2 li{
    list-style-type: none;
    font-size: 25px;
    padding: 10%;
    cursor: pointer;
}

.menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu li{
    list-style-type: none;
    color:#E02D1F;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}